$dark_black: #363636;
$soft_black: #9B9B9B;
$blue: #3B62C8;
$dark_blue: #495061;
$orange: #F4732A;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('../fonts/Quicksand-Light.ttf');
  font-weight: 300;
  font-family: 'Quicksand';
}

@font-face {
  src: url('../fonts/Quicksand-Regular.ttf');
  font-weight: 400;
  font-family: 'Quicksand';
}

@font-face {
  src: url('../fonts/Quicksand-Medium.ttf');
  font-weight: 500;
  font-family: 'Quicksand';
}

@font-face {
  src: url('../fonts/Quicksand-SemiBold.ttf');
  font-weight: 600;
  font-family: 'Montserrat';
}

@font-face {
  src: url('../fonts/Quicksand-Bold.ttf');
  font-weight: 700;
  font-family: 'Montserrat';
}

body {
  font-family: 'Quicksand', sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
  margin-bottom: 0;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
ul{
  padding-left: 0;
  margin-bottom: 0;
}
input,select,button,textarea{
  outline: none;
  border: none;
}
.h1_bold {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
}

.h1_light {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
}

.h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.text-small{
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.text-normal{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.message_bot {
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: $dark_black;
}

.message_user {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  color: $soft_black;
}

.btn_type {
  border-radius: 85px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
  outline: none;
  text-align: center;
}

.btn_blue {
  @extend .btn_type;
  background-color: $blue;
  color: #fff;
  border: 1px solid $blue;
  &:hover{
    color: #fff;
  }
}
.btn_outline_blue {
  @extend .btn_type;
  background-color: #fff;
  color: $blue;
  border: 1px solid $blue
}
.btn_soft_black{
  @extend .btn_type;
  background-color: $soft_black;
  color: #fff;
  border: 1px solid $soft_black
}
.flex_between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin  text-ellipsis($line,$height){
  display: inline-block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  height: $height;
}