@import "default";

.blue_header {
  background-color: $blue;
}

.dark_header {
  background-color: #2F3647;
}

.header_flex {
  @extend .flex_between;
  padding: 23px 0;

  .logo_box {
    svg {
      width: 145px;
      height: 35px;
    }
  }

  .center_links {
    ul {
      @extend .flex_center;

      li {
        a {
          color: #DBDBDB;
          font-weight: 600;
          font-size: 13px;
          line-height: 25px;
          padding: 10px;
          margin: 8px;

          &:hover,
          &.active {
            color: #fff;
          }
        }
      }
    }
  }

  .right_btn {
    a {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      border-radius: 54px;
      padding: 8px 38px;
      color: #fff;
      border: 1px solid #fff;
      display: inline-block;
      max-width: 158px;
      width: 100%;

      &:hover {
        transition: all .5s;
        background-color: #fff;
        color: $blue;
      }
    }
  }

  .auth_info {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      padding: 0 5px;
      margin: 0 10px;

      &:hover {
        svg {
          path {
            fill: $orange;
          }
        }
      }
    }

    .user_info {
      img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #fff;
      }
    }
  }
}

.auth_section {
  padding: 100px 0;
}

.auth_text {
  height: 100%;
  width: 100%;
  position: relative;

  h1 {
    margin-bottom: 23px;
  }

  h2 {
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 10px;

    a {
      color: #4D47C3;
    }
  }

  img {
    position: absolute;
    right: -10%;
    bottom: 0;
    max-width: 500px;
    height: 372px;
    width: 100%;
  }
}

.auth_form {
  @extend .flex_center;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  width: 100%;

  .h2 {
    margin-bottom: 30px;
  }

  input {
    width: 100%;
    height: 48px;
    background: #EEEEEE;
    border-radius: 81px;
    padding: 12px 29px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .input_list {
    width: 100%;
  }

  .forget_pass {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;

    a {
      color: $dark_blue;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }
  }

  .auth_btn {
    width: 100%;

    a, button {
      width: 100%;
      display: block;
      margin-bottom: 15px;

      &:hover {
        background-color: $soft_black;
        color: #fff;
        border-color: $soft_black;
        transition: all .5s;
      }
    }
  }

  p {
    color: #B5B5B5;
    margin: 15px 0 25px;
  }

  .login_other {
    @extend .flex_center;

    a {
      margin: 13px;

      img {
        width: 36px;
        height: 36px;
        object-fit: contain;
      }
    }

  }
}

.bg-gray-custom {
  background-color: #EDEDED;
}

.footer_between {
  padding: 30px 0;
  @extend .flex_between;

  .footer_logo {
    svg {
      width: 72px;
      height: 56px;
    }
  }

  p {
    max-width: 192px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #505D68;
  }
}

.pass_input {
  position: relative;

  .close_eye {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover,
    &.active-eye {
      svg {
        path {
          fill: $blue;
        }
      }
    }
  }
}

.main_section {
  padding: 90px 0;

  .main_text {
    max-width: 630px;
    margin: auto;

    h1 {
      text-align: center;

      span {
        font-weight: 700;
      }
    }

    .header_text {
      position: relative;
      padding-bottom: 50px;

      .header_shape {
        position: absolute;
        right: 100px;
        bottom: 20px;
      }
    }
  }

  p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }


}

.header_form {
  .form_box,
  form {
    background: #FFFFFF;
    box-shadow: 0px 14px 27px rgba(79, 145, 205, 0.25);
    border-radius: 54px;
    padding: 15px 20px;
    position: relative;
    display: flex;

    input {
      width: 100%;
      padding-left: 40px;
      font-size: 12px;
      line-height: 20px;
    }

    .search_icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    button {
      background-color: transparent;
      font-size: 15px;
    }
  }
}

.get_in_touch_section {
  .get_in_touch_box {
    padding: 60px;

    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 10px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    @extend .flex_between;

    .btn_blue,
    .btn_outline_blue {
      padding: 13px 37px;
      margin-left: 25px;
    }
  }
}

.sidebar_container {
  max-width: 260px;
  width: 100%;
}

.sidebar_box {
  max-width: 260px;
  width: 100%;
  background-color: $dark_blue;
  height: calc(100vh - 85px);
  overflow: auto;
  padding: 16px 10px;
  @extend .flex_between;
  flex-direction: column;

  .sidebar_top {
    width: 100%;
  }

  .sidebar_bottom {
    p {
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      color: #fff;
      opacity: 0.7;
      text-align: center;
      margin-bottom: 5px;
    }

    .app_version {
      opacity: 1;
      font-weight: 500;

    }
  }

  .new_chat {
    border-radius: 54px;
    width: 100%;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 9px 10px;
    color: #fff;

    svg {
      margin-right: 10px;
    }

    &:hover {
      background-color: #fff;
      color: $dark_blue;
      transition: all .5s;

      svg {
        path {
          transition: all .5s;
          stroke: $dark_blue
        }
      }
    }
  }

  .chat_history {
    margin: 18px 0 4px;
    padding: 0 10px;

    h4 {
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 15px;
    }

    li {
      a {
        color: #fff;
        padding: 12.5px 0;
        display: inline-block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;

        svg {
          margin-right: 12px;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.message_area {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 41px 0 53px;
  position: relative;

  .center_text {
    max-width: 630px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      text-align: center;
      color: #36363680;

      span {
        font-weight: 700;
      }
    }
  }

  .message_form {
    max-width: 760px;
    margin: 0 auto;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 14px 27px rgba(79, 145, 205, 0.25);
    border-radius: 54px;

    form {
      position: relative;
      display: flex;
      align-items: center;
    }

    .search_icon {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }

    textarea {
      width: 100%;
      border: none;
      padding: 0 0 0 60px;
      height: 24px;
      resize: none;
      border-radius: 54px;
    }

    button {
      padding: 19px;
      background: transparent;

    }
  }
}

.message_section {
  display: flex;
  width: 100%;

}

.messages_list {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  margin-bottom: 30px;

  .message_box {
    .message_text {
      max-width: 790px;
      margin: 0 auto;
      padding: 34px 0;
      @extend .flex_between;
      border-top: 1px solid #E9ECF1;

      .message_user {
        width: 50px;
        margin-right: 18px;
      }

      img {
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 50%;
        background-color: #fff;
        object-fit: contain;
      }

      .like_unlike {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
          padding: 0 7px;

          &:hover,
          &.active {
            svg {
              path {
                fill: #495061;
              }
            }
          }
        }
      }
    }
  }
}

.products_section {
  padding: 50px 0;

  h1 {
    color: $blue;
  }

  h2 {
    color: $dark_blue;
  }

  .product_list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    .single_product {
      width: 20%;
    }

    .product_box {
      margin: 20px;

      .product_top {
        position: relative;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 3px;
        }

        .favorite_box {
          position: absolute;
          top: 12px;
          right: 12px;

          a {
            svg {
              path {
                fill: $soft_black;
              }
            }

            &:hover,
            &.active {
              svg {
                path {
                  fill: $blue;
                }
              }
            }
          }
        }
      }

      .product_bottom {
        .product_detail {
          padding: 9px 0;
          @extend .flex_between;

          .product_name {
            h4 {
              font-weight: 600;
              margin-bottom: 0;
              @include text-ellipsis(1, 20px);

            }

            p {
              font-size: 11px;
              line-height: 21px;
              font-weight: 400;
              color: #000;
              @include text-ellipsis(1, 20px);
            }
          }

          .price {
            background-color: $blue;
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
          }
        }

        .color_boxes {
          display: flex;

          .color_box {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }

        .shop_now {
          margin-top: 18px;

          a {
            width: 100%;
            display: block;
            padding: 9px;
            border-radius: 87px;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            background-color: $orange;
            color: #fff;

            &:hover {
              background-color: $blue;
              transition: all .5s;
            }
          }
        }
      }
    }
  }
}

.center_btn {
  @extend .flex_center;
  padding: 20px 0;

  a {
    display: inline-block;
    width: 300px;
    margin: 0 15px;
  }
}

.search_area {
  .filter_btn {
    max-width: 240px;
    display: block;
    width: 100%;
    padding: 12px !important;
  }
}

.order_list {
  margin: 25px 0;

  table {
    width: 100%;

    .order_text {
      font-size: 11px;
      line-height: 13px;
      font-weight: 400;

    }

    thead {
      tr {
        th {
          padding: 8px 15px;
        }
      }
    }

    tbody {
      tr {
        padding: 15px;
        background-color: #F9F9F9;
        border-radius: 6px;
        border-bottom: 10px solid #fff;

        td {
          border-radius: 6px;
          padding: 15px;
          width: fit-content;

          .order_img {
            img {
              width: 70px;
              height: 70px;
              object-fit: cover;
              border-radius: 5px;
            }
          }

          .order_detail {
            padding: 9px 0;
            max-width: 200px;
            @extend .flex_between;

            .product_name {
              margin-right: 10px;

              h4 {
                font-weight: 600;
                margin-bottom: 0;
                @include text-ellipsis(1, 20px);

              }

              p {
                font-size: 11px;
                line-height: 21px;
                font-weight: 400;
                color: #000;
                @include text-ellipsis(1, 20px);
              }
            }

            .price {
              background-color: $blue;
              color: #fff;
              padding: 10px;
              border-radius: 3px;
              font-size: 16px;
              line-height: 25px;
              font-weight: 400;
            }

          }
        }
      }
    }

    .order_link {
      width: 30px;
      height: 30px;
      color: #fff;
      background-color: $blue;
      border-radius: 4px;
      @extend .flex_center;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

.payment_detail {
  max-width: 425px;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
  @extend .flex_center;

  h2 {
    margin-bottom: 30px;
  }

  .card_inputs {
    border-radius: 81px;
    background-color: #EEEEEE;
    padding: 12px 40px;
    display: flex;
    margin-bottom: 15px;

    input {
      background-color: transparent;

      &.card_number {
        width: 230px;
      }

      &.card_date {
        width: 65px;
      }

      &.card_cvv {
        width: 35px;
      }
    }
  }

  .normal_input {
    border-radius: 81px;
    background-color: #EEEEEE;
    padding: 12px 40px;
    margin-bottom: 15px;
    width: 100%;
  }

  .mini_input {
    padding: 12px 22px !important;
  }
}

.mt-15 {
  margin-top: 15px;
}

.border_right_sale {
  border-right: 1px solid $soft_black;
}

.price_list {
  max-width: 345px;
  margin: auto;
  min-height: calc(100vh - 200px);
  @extend .flex_center;

  .price_list_box {
    width: 100%;
  }

  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  ul {
    li {
      padding: 12px 0;
      border-bottom: 1px solid $soft_black;

      .order_detail {
        margin-bottom: 10px;
        @extend .flex_between;

        h4 {
          font-weight: 600;
          font-size: 13px;
          line-height: 25px;
          margin-bottom: 0;
        }

        p {
          font-weight: 400;
          font-size: 11px;
          line-height: 25px;
        }

        .price {
          font-weight: 600;
          font-size: 21px;
          line-height: 25px;
          color: $dark_black;
        }
      }
    }
  }

  .price_list_btn {
    margin-top: 20px;

    a {
      width: 100%;
      display: block;
    }
  }
}

.product_img_list {
  .main_img {
    max-width: 405px;
    margin: 8px auto;

    img {
      width: 100%;
      height: 440px;
      object-fit: contain;
      background-color: lighten($blue, 30%);
      border-radius: 8px;
      cursor: zoom-in;
    }
  }

  .mini_img_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      width: 95px;
      height: 98px;
      border-radius: 8px;
      object-fit: cover;
      margin-right: 10px;

      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.product_detail_text {
  padding: 20px 0;
  .product-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .product_rating {
    display: flex;

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      margin-left: 8px;
      color: $orange;
    }
  }

  .stock-status {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    margin: 14px 0;

    svg {
      margin-right: 6px;
    }

    &.in_stock {
      color: #1FCA3A;
    }

    &.out_stock {
      color: #ff2626;
    }
  }

  .color_variants {
    margin-bottom: 35px;
    h5 {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 14px;
      line-height: 20px;
    }

    .color_list {
      display: flex;
      justify-content: flex-start;
    }

    .color_box {
      display: block;
      width: 61px;
      height: 61px;
      border-radius: 3px;
      background-color: #F9F9F9;
      margin-right: 6px;
      padding: 12px;

      &.active {
        border: 1px solid $soft_black;
      }

      span {
        width: 38px;
        height: 38px;
        @extend .flex_center;
        border-radius: 50%;
      }
    }
  }
  .product_material{
    padding-left: 15px;
    li{
      list-style-type: circle;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      padding: 5px 0;
    }
  }
  .product_text{
    margin-top: 34px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
}
.py-30{
  padding: 30px 0;
}

.product_summary{
  max-width: 285px;
  margin: 0 auto;
  padding: 23px;
  border-radius: 5px;
  border: 1px solid $soft_black;
  .product_price{
    span{
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 25px;
    }
    .sale_price{
      margin-right: 13px;
    }
    .main_price{
      color: $soft_black;
      text-decoration: line-through;
    }
  }
  .product_count{
    .price_per{
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 13px;
      line-height: 25px;
      color: $soft_black;
    }
    .quantity_box{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .quantity_input{
        border: 1px solid #9B9B9B;
        border-radius: 3px;
        padding: 7px;
        width: 110px;
        span{
          cursor: pointer;
        }
        input{
          width: 50px;
          text-align: center;
          appearance: unset;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        &~span{
          font-weight: 600;
          font-size: 13px;
          line-height: 25px;
          color: $soft_black;
          margin-left: 11px;
        }
      }
    }
    .summary_btn{
      margin: 15px 0;
      a{
        display: block;
        width: 100%;
        padding: 15px 41px;
        color: #fff;
        border-radius: 85px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  .summary_detail{
    padding-left: 20px;
    li{
      list-style-type: circle;
      padding: 5px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $soft_black;
    }
  }
}
.btn_orange{
  background-color: $orange;
}